/*  
Theme Name: Modern for Tensegrities
Theme URI: https://bitbucket.org/tenseg/modern-for-tensegrities
Author: Alexander Celeste and Eric Celeste
Description: A wordpress theme based on Apple's iWeb Modern Frame.
Version: 1.0.1
Bitbucket Theme URI: https://bitbucket.org/tenseg/modern-for-tensegrities
Bitbucket Branch: release
*/

ul, ol, pre, dl, p { margin-top: 10px; margin-bottom: 10px; }

body {
	background: #515151;
	margin: 0pt;
	padding: 0;
	font: 12px/1.5 HelveticaNeue-Light, "Helvetica Neue", "Helvetica Neue Light", Arial, sans-serif;
	color: #666;
}

a {
	color: #ad4b62;
	text-decoration: none;
}

div#view {
	background-color: white;
	width: 700px;
	display: block;
	margin: 10px auto;
}

div#nav {
	display: block;
	text-align: right;
	font-size: 13px;
	color #666666;
	line-height: 0px;
	border-bottom: 3px solid #ccc;
	margin: 10px 20px 0;
	padding: 5px 0px 0px;
}

div#nav ul {
	list-style: none;
}

div#nav li {
	list-style-type: none;
	padding: 11px;
	display: inline;
}

div#nav li a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

div#nav li a:visited {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

div#nav li.herenow a,
div#nav li.herenow a:visited {
	color: #66abcb;
}

div#nav li a:hover {
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}

/* Sidebar */

div.vspace {
	margin-top: 4px;
}


div#sidebar {
	background-color: #b3b3b3;
	display: inline-block;
	float: right;
	font: 11px HelveticaNeue, "Helvetica Neue", Arial, sans-serif;
	color: rgb(51, 51, 51);
	width: 270px;
	clear: right;
	margin-bottom: 1px;
	margin-left: -120px;
	padding-top: 7px;
	padding-left: 7px;
	position: relative;
	right: -140px;
}

div#sidebar img {
	height: auto;
    width: auto;
    max-width: 100%;
    background-color: #b3b3b3;
    padding: 0px;
}

/* End sidebar */


div#footer {
	background-color: #b3b3b3;
	font-size: 12px;
	color: black;
	display: block;
	margin: 20px 10px;
	text-align: center;
	position: relative;
	bottom: 10px;
	clear: both;
}
div#footer p {
	padding: 5px;
}

div#headline {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

div#headline a{
	color: #666;
}


div#content {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-right: 150px;
	padding-bottom: 10px;
}

ul,ol,pre,dl,p,h1,h2,h3,h4,h5,h6 {
	margin-left: 10px;
	margin-right: 10px;
}

h1 {
	font-size: 16px;
}

h2,h3,h4,h5,h6 {
	font-size: 14px;
}


div#headline h1 {
	margin-top: 0;
	text-transform: uppercase;
	font-style: normal;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 8px;
}

div.callout {
	background-color: #b3b3b3;
	display: inline-block;
	float: right;
	font: 11px HelveticaNeue, "Helvetica Neue", Arial, sans-serif;
color: rgb(51, 51, 51);
	width: 270px;
	clear: right;
	margin-bottom: 1px;
	margin-left: -120px;
	padding-top: 7px;
	position: relative;
	right: -140px;
}

div.vspace {
	margin-top: 0px;
}

div.callout h1, div.callout h2, div.callout h3, div.callout h4, div.callout h5, div.callout h6 {
	font-size: 14px;
	color: #474747;
	margin-top: 0px;
	padding-top: 0px;
}

div#wiki {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

div#wiki a{
	padding: 0px;
	margin: 0px;
	color: #454545;
}

div#wiki a:hover{
	padding: 0px;
	margin: 0px;
	background-color: #ad4b62;
	color: white;
}

table#wp-calendar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#dotlist {
	list-style: none;
	padding: 0;
}

#dotlist li {
	display: inline;
}

#dotlist li:before { content: ". "; }
#dotlist li:first-child:before { content: ""; }

div.commentlist h1, div.commentlist h2, div.post h1, div.post h2 {
	margin-top: -3px;
}

div.commentlist h5, div.post h5 {
	margin-top: 30px;
	margin-bottom: -3px;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

div.post p#postmetadata {
	margin-top: 30px;
	font-size: 10px;
}

blockquote {
	background: #eee url(images/blockquote.png) no-repeat bottom left;
	padding: 5px 10px 30px;
	margin-right: 140px;
	margin-left: 10px;
} /* Idea from ShadedGrey of http://wpthemes.info/ */

.widecolumn blockquote {
	margin-right: 10px;
}

.center {
	text-align: center;
}
	
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.gravatar {
        float: right;
        padding: 3px;
        margin-bottom: 5px;
        background: #fff;
}

.reply {
	text-align: right;
}

li.comment {
	list-style-type: none;
}

.comment-meta {
	text-align: right;
	font-style: italic;
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
